h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: green;
}

h2 {
    background-color: blue;
}

p, body {
    color: green;
}

body {
    background-color: black;
    
}